.header{
    grid-area: h;
    background-color:#333;
    /* border-radius: 0 0 40px 40px; */
    }
    .header img{

      width:40px;
    }
    .header img:active{
        transform: rotate(1700deg) scale(100);
        transition: 5s;
        margin-left: 1000px;
        margin-top: 600px;
    }
.login{
    padding-right: 10px;
}
    .loginBtn{
        cursor: pointer;
        background: #27aae1;
        padding: 7px 25px;
        border: none;
        color: #fff;
        font-weight: 600;
        outline: none;
        border-radius: 30px;
    }
    .loginBlock{
        position:absolute;
        right:8%;
        top:1%;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
    }