.header{
    grid-area: h;
    background-color:#333;
    /* border-radius: 0 0 40px 40px; */
    }
    .header img{

      width:40px;
    }
    .header img:active{
        transform: rotate(1700deg) scale(100);
        transition: 5s;
        margin-left: 1000px;
        margin-top: 600px;
    }
    .loginBlock a{
        color:white;
    }