.nav{
    position:sticky; top:0;
    background: #27aae1;
  grid-area: n;

  padding:0px 100px 0 10px;
    height: 100vh;

  }

  .item{
      color:blue;
      margin-bottom: 20px;
 
    }
  .item a{
      display: block;
      color:#1a1a1a;
      text-decoration: none;
  }
 
.item .active{
color:#1a1a1a;
    font-weight: bold;
  }
  .item:hover {
    background:rgb(188, 187, 194)
  }
