.nav{
  grid-area: n;
  padding:20px;
  }
  .item{
      color:blue;
      margin-bottom: 20px;
 
    }
  .item a{
      display: block;
      color:#6d6e71;
      text-decoration: none;
  }
 
.item .active{
color:black;
background:rgb(188, 187, 194)
  }
  .item:hover {
    background:rgb(188, 187, 194)
  }
