.content{
  grid-area: c;
  }
.mainImg{
    padding-top:20px;
}
  .mainImg img{
      width:500px;
border:5px solid white;
  }
  .descriptionBlock{
    padding:10px;
  }
  .status{
      cursor: pointer;
  }
.status:hover {
    background:rgb(188, 187, 194)
}