
.app-wrapper {
  display: grid;
  margin: 0 auto;

  grid-template-areas:
  "n h h"
  "n c q";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 0fr 13fr 2fr;

}

.app-wrapper-content{
  grid-area: c;
}
